<%- include('layout', { path: '/plugin/uptime' , body: /*html*/` <div class="space-y-4">
  <h1 class="text-2xl font-bold">Server Uptime</h1>
  <p class="text-4xl text-green-400">
    <%= uptime %> hours
  </p>
  </div>
  ` }) %>
